astroid==3.2.4
certifi==2024.8.30
charset-normalizer==3.3.2
coverage==7.6.1
dill==0.3.8
idna==3.8
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
nodeenv==1.9.1
packaging==24.1
peewee==3.17.6
platformdirs==4.2.2
pluggy==1.5.0
pyflakes==3.2.0
pylint==3.2.7
pyright==1.1.379
pytest==8.3.2
pytest-cov==2.12.1
requests==2.32.3
toml==0.10.2
tomlkit==0.13.2
urllib3==2.2.2